.pink{
    width: 100px;
    height: 100px;
    background-color: pink;
    text-shadow: 2px 5px 10px yellow;
    box-shadow: 1px 5px 10px red;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.title{
    color: blue;
    text-shadow: 5px 5px 5px black; /*text shadow: lefelé jobbra elmosodás szin*/
}